<footer class="foot">   
    <div id="footer_info">
    <a href="/copyright"> &copy; Copyright </a>
    <a href="/about"> &nbsp; About Us </a>
    <a href="/contact"> &nbsp; Contact Us</a>  
    </div>
    
    <div id="footer_social">
    
        <a href="https://www.facebook.com/"> <img src="/images/fbicon.png" alt=" facebook icon" width="30" height="30"> </a>
        <a href="https://www.instagram.com/"> <img src="/images/instaicon.png" alt=" instagram icon" width="30" height="30"> </a>
        <a href="https://twitter.com/i/flow/login"> <img src="/images/twittericon.png" alt=" twitter icon " width="30" height="30"> </a>
    </div>
</footer>

</body>
</html>