<%- include('./partials/header.ejs')%>
        <div class="content">
            <br>
            <br>
            <h3>About TradeMe!</h3>
            <img id="elec" src="images/electronics.png" alt=" electronics" width="400" height="350"> 
            <h4>TradeMe is a place to exchagne all your items with electronics</h4>
            <h4> Happy Trading </h4>
        </div>
    <%- include('./partials/footer.ejs')%>